/* font-face */
@font-face{
  font-family:'consolas';
  src:url('../fonts/consola.ttf') format('truetype');
  src:local('Consolas'), url('../fonts/consola.ttf') format('truetype');
  font-weight:normal;
  font-style:normal;
}
@font-face{font-family:'Segoe UI Lite';src:url('../fonts/segoeuil.ttf');}
@font-face{font-family:'Tahoma';src:url('../fonts/tahoma.ttf');}
@font-face{font-family:'Felbridge';src:url('../fonts/felbridge.ttf');}
@font-face{font-family:'Traditional Arabic';src:url('../fonts/trado.ttf');}
@font-face{
  font-family:'Neuropol';
  src:url('../fonts/neuropol.ttf');
  src:url('../fonts/neuropol.ttf') format('truetype');
}
/* reset */
*{font-family:'Segoe UI Lite',Tahoma,consola,consolas,monospace;color:#333;font-size:16px;outline:none;}
/* global tags */
body{
  padding:0px;
  margin:0px;
  background-color:#ddc;
  background-repeat:repeat;
  background-position:center center;
  overflow-x:hidden;
  overflow-y:auto;
}
a{text-decoration:none;color:#b33;outline:none;}a:hover{color:#d55;}
video,audio{max-width:100%;}
/* viewport too small --> zIndex: 99999 */
.viewport-too-small{
  display:none;
  position:fixed;
  z-index:99999;
  top:0px;
  bottom:0px;
  left:0px;
  right:0px;
  background-color:#fff;
  padding:calc(50% - 64px) 0px 0px;
  font-size:32px;
  text-align:center;
}
.viewport-too-small:before{
  content:"Viewport is too small.";
}
/* header */
.header{
  background-image:url('../images/logo.png');
  background-repeat:no-repeat;
  background-position:10px center;
  background-size:32px 32px;
  background-color:#fff;
  padding:0px;
  margin:0px;
  line-height:42px;
  height:42px;
  width:100%;
  position:fixed;
  z-index:9;
  top:0px;
  left:0px;
  right:0px;
  display:block;
  box-shadow:0px 9px 5px -5px #ddd;
}
.header:before{
  font-family:Neuropol,Tahoma;
  text-shadow:3px 3px 3px #777;
  text-align:left;
  vertical-align:top;
  font-size:20px;
  margin-left:52px;
  color:#555;
  content:attr(data-name);
  white-space:pre;
}
/* menu button */
.menu-button{
  width:32px;
  height:32px;
  background-color:transparent;
  position:absolute;
  top:5px;
  right:10px;
  border-radius:9px;
  cursor:pointer;
  margin:0px;
  padding:0px;
  display:none;
}
.menu-button-strip{
  height:4px;
  width:calc(100% - 4px);
  background-color:#999;
  padding:0px;
  margin:4px 0px 0px;
  border-radius:3px;
}
.menu-button-strip:nth-child(1){
  margin-top:5px;
}
.menu-button:hover > .menu-button-strip{
  background-color:#9d5;
}
.menu-button-show{
  display:block;
}
/* menu header */
.menu{
  width:auto;
  height:32px;
  background-color:transparent;
  position:absolute;
  top:5px;
  right:10px;
  border-radius:9px;
  margin:0px;
  padding:0px;
  display:block;
  transition:all 0.2s ease 0s;
}
.menu .menu-each{
  display:inline-block;
  vertical-align:top;
  padding:3px 9px;
  margin:0px;
  height:25px;
  line-height:23px;
  border-radius:5px;
  background-color:#f5f5f5;
  font-size:13px;
  transition:all 0.2s ease 0s;
}
.menu .menu-each:hover{
  background-color:#eed;
  color:#555;
  padding:3px 8px 3px 10px;
}
.menu-overflow{
  width:250px;
  height:100%;
  background-color:#fff;
  position:fixed;
  z-index:9;
  top:0px;
  right:-260px;
  bottom:0px;
  border-radius:0px;
  margin:0px;
  padding:0px;
  display:block;
  box-shadow:-3px 0px 3px #ddd;
  transition:all 0.2s ease 0s;
  overflow-x:hidden;
  overflow-y:auto;
}
.menu-overflow .menu-each{
  display:block;
  vertical-align:top;
  padding:13px;
  margin:0px 0px 2px;
  width:auto;
  height:auto;
  line-height:23px;
  border-radius:0px;
  background-color:#fff;
  font-size:16px;
  transition:all 0.2s ease 0s;
}
.menu-overflow .menu-each:hover{
  background-color:#eed;
  color:#555;
  padding:13px 12px 13px 14px;
}
.menu-overflow-show{
  right:0px;
}
.menu-overflow-shadow{
  background-color:#fff;
  opacity:0.7;
  position:fixed;
  z-index:8;
  top:0px;
  bottom:0px;
  right:0px;
  left:0px;
}
.menu-header{
  background-color:#333;
  background-image:url('../images/menu-wallpaper.jpg');
  background-size:250px 180px;
  background-repeat:no-repeat;
  background-position:center center;
  width:auto;
  height:180px;
  padding:0px;
  margin:0px 0px 5px;
  display:none;
}
.menu-header-show{
  display:block;
}
/* footer */
.footer{
  background-color:#fff;
  padding:15px 10px;
  margin:0px auto;
  display:block;
  box-shadow:0px -5px 5px -3px #ddd;
  text-align:center;
  border-top: 1px solid #ddd;
  max-width:1000px;
  position:relative;
}
.footer:before{ 
  text-shadow:1px 1px 1px #777;
  text-align:center;
  vertical-align:top;
  font-size:13px;
  color:#555;
  content:attr(data-footer);
  white-space:pre;
}
.foot-content{
  background-color:#fff;
  margin:0px auto;
  max-width:1000px;
  padding:10px 10px 20px;
  display:block;
  position:relative;
  box-shadow:0px 0px 5px #fff;
}
/* sidebar content -- each sidebar content */
.sidebar-content{
  width:auto;
  height:auto;
  background-color:#fff;
  margin:0px 0px 20px;
  padding:0px;
  display:block;
  box-shadow:2px 0px 5px #ddd;
  transition:all 0.2s ease 0s;
}
/* body */
.body{
  display:block;
  margin:42px auto 0px;
  padding:15px 10px 10px;
  background-color:#fff;
  max-width:1000px;
  min-height:720px;
  box-shadow:0px 0px 5px #fff;
  overflow-x:hidden;
  overflow-y:hidden;
  position:relative;
}
.body-content{
  display:inline-block;
  vertical-align:top;
  position:relative;
  z-index:1;
  background-color:#fff;
  width:calc(100% - 280px);
  margin:0px 0px 0px 260px;
  padding:10px;
  overflow-x:hidden;
  overflow-y:auto;
  box-shadow:2px 0px 5px #ddd;
}
.body-sidebar{
  display:inline-block;
  vertical-align:top;
  position:absolute;
  z-index:2;
  left:10px;
  margin:0px;
  padding:0px;
  width:250px;
  height:auto;
}
/* menu sidebar */
.menu-sidebar{
  width:auto;
  height:auto;
  background-color:#fff;
  margin:0px 0px 20px;
  padding:0px;
  display:block;
  box-shadow:2px 0px 5px #ddd;
  transition:all 0.2s ease 0s;
}
.menu-sidebar-each{
  display:block;
  padding:13px;
  margin:0px 0px 2px;
  width:auto;
  height:auto;
  line-height:23px;
  border-radius:0px;
  background-color:#f5f5f5;
  font-size:16px;
  transition:all 0.3s ease 0s;
}
.menu-sidebar-each:hover{
  background-color:#eed;
  color:#555;
  padding:13px 11px 13px 15px;
}
/* dont scroll */
.dont-scroll{
  overflow:hidden;
}
/* loader */
.website-loader{
  position:fixed;
  z-index:10;
  top:0px;
  left:0px;
  right:0px;
  bottom:0px;
  width:100%;
  height:100%;
  display:inline-block;
  text-align:center;
  vertical-align:middle;
  opacity:0.8;
  background-color:#fff;
  background-image:url('../images/grey-loader.gif');
  background-repeat:no-repeat;
  background-position:center center;
  background-size:16px 11px;
}
.website-loader:before{
  top:calc(50% + 7px);
  content:"Loading...";
  position:fixed;
  text-align:center;
  left:0px;
  right:0px;
  font-size:16px;
  -webkit-animation:fade 1000ms infinite;
  animation:fade 1000ms infinite;
}
/* fade animation */
@keyframes fade{from{opacity:1.0;}50%{opacity:0.4;}to{opacity:1.0;}}
@-webkit-keyframes fade{from{opacity:1.0;}50%{opacity:0.4;}to{opacity:1.0;}}
/* head loader bar */
.website-head-loader{
  background-color:transparent;
  padding:0px;
  margin:0px;
  line-height:3px;
  height:3px;
  width:100%;
  position:fixed;
  z-index:9;
  top:42px;
  left:0px;
  right:0px;
  display:block;
}
.website-head-loader-bar{
  background-color:#7b3;
  height:3px;
  width:0%;
  box-shadow:0px 0px 3px #bf7;
}
/* pre-load things */
.pre-load{
  display:block;
  width:0px;
  height:0px;
  opacity:0;
  visibility:hidden;
  background-image:url('../images/grey-loader.gif');
}
/* website frame - external */
.website-frame{
  background-color:#fff;
  color:#fff;
  display:block;
  position:fixed;
  z-index:10;
  top:42px;
  left:0px;
  right:0px;
  bottom:0px;
  border:0px none;
  margin:0px;
  padding:0px;
  width:100%;
  height:calc(100% - 42px);
}
.website-frame-close{
  background-color:#fff;
  color:#fff;
  display:block;
  position:fixed;
  z-index:12;
  top:5px;
  right:5px;
  margin:0px;
  padding:0px;
  width:24px;
  height:24px;
  border:4px solid #555;
  border-radius:24px;
  box-shadow:0px 0px 5px #ddd;
  transition:all 0.7s ease 0s;
}
.website-frame-close:before{
  content:" ";
  background-color:#555;
  width:20px;
  height:5px;
  display:block;
  position:absolute;
  transform:rotate(45deg);
  top:10px;
  left:2px;
}
.website-frame-close:after{
  content:" ";
  background-color:#555;
  width:20px;
  height:5px;
  display:block;
  position:absolute;
  transform:rotate(315deg);
  top:10px;
  left:2px;
}
.website-frame-close:hover{
  box-shadow:0px 0px 7px 3px #ddd;
  background-color:#ddd;
  transform:rotate(360deg);
}
.website-frame-head{
  background-color:#fff;
  color:#fff;
  display:block;
  position:fixed;
  z-index:11;
  top:0px;
  left:0px;
  right:0px;
  margin:0px;
  padding:0px;
  width:100%;
  height:42px;
  border:0px none;
  box-shadow:0px 9px 5px -5px #ddd;
}
.website-frame-head:before{
  content:attr(data-title);
  color:#333;
  font-weight:bold;
  padding-left:10px;
  line-height:42px;
}



/* body content --- INLINE CLASSES */
.body-content img{
  max-width:100%;
  border:0px none;
}
.body-content img.page-thm{
  width:150px;
  height:150px;
  max-width:150px;
  max-height:150px;
  border:0px none;
  border-radius:150px;
  transition:all 0.7s ease 0s;
  float:right;
  padding:0px;
  margin:10px;
}
.body-content img.page-thm:hover{
  transform:rotate(360deg);
}
.body-content img.page-thm-bulk{
  width:100px;
  height:100px;
  max-width:100px;
  max-height:100px;
  border:0px none;
  border-radius:100px;
  transition:all 0.7s ease 0s;
  float:right;
}
.body-content img.page-thm-bulk:hover{
  transform:rotate(360deg);
}
.body-content table#our_services{
  
}
.body-content .our-services{
  transition:all 0.7s ease 0s;
  padding:0px;
  width:100%;
}
.body-content .our-services:hover{
  padding:10px;
  width:calc(100% - 20px);
}
.body-content .table-topic td{
  vertical-align:top;
}
.body-content .post-title{
  font-size:32px;
  font-weight:bold;
  margin:15px 0px;
  padding:0px;
  color:#555;
}
.body-content .post-detail{
  background-color:#eed;
  color:#555;
  padding:10px;
}
.body-content .post-detail-time{
  color:#555;
}
.body-content .post-detail-author{
  margin:0px;
}
.body-content .post-detail-passed{
  color:#d55;
}
.body-content .post-detail-next{
  color:#7b3;
}
.body-content .post-content{
  padding:0px;
  margin:10px 0px;
}
.body-content .bulk-post{
  padding:0px;
  margin:0px 0px 20px;
}
.body-content .bulk-post-head{
  padding:10px;
  margin:0px;
  background-color:#555;
  font-weight:bold;
}
.body-content .bulk-post-head a{
  color:#ddd;
}
.body-content .bulk-post-head a:hover{
  text-shadow:0px 0px 5px #fff;
}
.body-content .bulk-post-time{
  padding:10px;
  margin:0px;
  background-color:#eed;
  color:#555;
}
.body-content .bulk-post-body{
  padding:10px;
}


/* foot content - contact person -- INLINE */
.contact-person{
  color:#333;
  margin:0px;
  padding:10px;
  background-color:#fff;
}
.contact-person ul{
  padding-left:20px;
}
.contact-person ul li{
  list-style:none;
  white-space:pre;
}
.contact-person ul li div{
  display:inline-block;
}
.contact-person ul li div:nth-child(1){
  width:50px;
}
.foot-content .contact-person-left{
  width:calc(50% - 5px);
  display:inline-block;
  vertical-align:top;
  margin:0px;
  padding:0px;
}
.foot-content .contact-person-right{
  width:calc(50% - 5px);
  display:inline-block;
  vertical-align:top;
  margin:0px;
  padding:0px;
}
.foot-content .contact-person{
  box-shadow:2px 0px 5px #ddd;
}
.foot-content .contact-person-footer{
  padding:10px;
}
.foot-content .contact-person-button{
  padding:7px 15px;
  margin:0px;
  border:0px none;
  background-color:#37b;
  color:#fff;
  font-weight:bold;
  border-radius:5px;
  display:inline-block;
  vertical-align:top;
  box-shadow:2px 2px 3px #999;
}
.foot-content .contact-person-button:hover{
  background-color:#59d;
  box-shadow:2px 2px 5px #999;
}







/* ----- media screen ----- */
@media screen and (max-width:820px){
  
}
@media screen and (max-width:720px){
  .body-content{
    display:block;
    position:relative;
    width:calc(100% - 20px);
    margin:0px;
  }
  .body-sidebar{
    display:block;
    position:relative;
    left:0px;
    margin:20px 0px;
    padding:0px;
    width:100%;
  }
}
@media screen and (max-width:630px){
  .foot-content .contact-person-right,
  .foot-content .contact-person-left{
    width:100%;
    display:block;
  }
  .body-content .post-title{font-size:24px;}
}
@media screen and (max-width:430px){
  .header:before{font-size:16px;}
  
}
@media screen and (max-width:360px){
  
}
@media screen and (max-width:350px){
  .viewport-too-small{display:block;}
}



















