/* alpha.css */
/* load font */
@font-face{font-family:'Alpha Lite';src:url('alpha.ttf');}
/* ----- ALPHA EDITOR ----- */
.alpha-editor,.alpha-editor-tool,.alpha-editor-tool-button,.alpha-editor-preview,.alpha-editor-textarea,.alpha-cursor-blink,.alpha-cursor-selection{
  margin:0px !important;
  font-family:'Alpha Lite',Tahoma,Consola,consolas,monospace !important;
  font-size:16px !important;
  font-weight:normal !important;
  font-style:normal !important;
  color:#333 !important;
}
.alpha-editor:focus{outline:none !important;}
.alpha-editor{
  position:relative !important;
  padding:0px !important;
  border:none !important;
}
.alpha-editor-tool{
  border-top:1px solid #bbb !important;
  border-left:1px solid #bbb !important;
  border-right:1px solid #bbb !important;
  background-color:#ddd !important;
  height:32px !important;
  vertical-align:middle !important;
  position:relative !important;
}
.alpha-editor-tool-button sup,.alpha-editor-tool-button sub{line-height:12px !important;}
.alpha-editor-tool-button:hover{background-color:#ccc !important;}
.alpha-editor-tool-button:focus{outline:none !important;}
.alpha-editor-tool-button{
  display:inline-block !important;
  width:32px !important;
  height:32px !important;
  line-height:32px !important;
  text-align:center !important;
  vertical-align:middle;
  font-weight:bold !important;
  border:0px none !important;
  border-right:1px solid #bbb !important;
  overflow:hidden !important;
  white-space:pre !important;
  cursor:default !important;
  -moz-user-select:none !important;
  -webkit-user-select:none !important;
}
.alpha-editor-preview{
  position:relative !important;
  border:1px solid #bbb !important;
  background-color:#fff !important;
  z-index:1 !important;
  padding:5px !important;
  overflow-x:hidden !important;
  overflow-y:auto !important;
  height:150px;
}
.alpha-editor-textarea:focus{outline:none !important;}
.alpha-editor-textarea{
  position:absolute !important;
  border:1px solid #bbb !important;
  background-color:#fff !important;
  z-index:2 !important;
  top:33px !important;
  width:calc(100% - 12px) !important;
  resize:none !important;
  padding:5px !important;
  opacity:0.07 !important;
  color:#fff !important;
  height:150px;
}
/* cursor */
@keyframes fadecursor{from{opacity:1.0;}50%{opacity:0.1;}to{opacity:1.0;}}
@-webkit-keyframes fadecursor{from{opacity:1.0;}50%{opacity:0.1;}to{opacity:1.0;}}
.alpha-cursor-blink{animation:fadecursor 900ms infinite;-webkit-animation:fadecursor 900ms infinite;width:0px;margin:0px -2px !important;font-weight:bold !important;}
.alpha-cursor-blink:before{content:"|";}
.alpha-cursor-selection{background-color:#eee !important;}
/* content preview */
.alpha-editor-preview em{
  font-style:italic !important;
  font-weight:inherit !important;
  color:inherit !important;
  font-family:inherit !important;
}
.alpha-editor-preview strong{
  font-weight:bold !important;
  font-style:inherit !important;
  color:inherit !important;
  font-family:inherit !important;
}
.alpha-editor-preview del{
  font-weight:inherit !important;
  font-style:inherit !important;
  color:inherit !important;
  font-family:inherit !important;
}
.alpha-editor-preview sup{
  line-height:11px !important;
  font-weight:inherit !important;
  font-style:inherit !important;
  color:inherit !important;
  font-family:inherit !important;
}
.alpha-editor-preview code{
  font-weight:inherit !important;
  font-style:inherit !important;
  color:#37b !important;
  font-family:inherit !important;
}


